*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #FEF2F4FF;
}
.counter{
  
    width: 300px;
    height: 450px;
    margin: 0 auto;
    

}

.top{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    font-family: 'Material Icons';
font-size: 160px;
color: #FFCDD4FF;
display: flex;
align-items: center;
justify-content: center;
user-select: none;

}
.bottom{
margin: 0 auto;
width: 100px;
height: 100px;
font-family: 'Material Icons';
font-size: 160px;
color: #FFCDD4FF;
display: flex;
align-items: center;
justify-content: center;
user-select: none;
}

.number{
    background-color: #FF4956FF;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 70px;
font-size: 140px;
color: white;
}

.buttons{
    margin: 0 auto;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
        
}

.random{
background-color:#FF4956FF ;
border: 0;
color: white;
border-radius: 20px;
    width: 100px;
    height: 50px;
    font-size: larger
}

.reset{
    background-color:#FF4956FF ;
    border: 0;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    font-size: larger;
  

}